<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            This is section C
          </div>
          <div class="card-body">
            <h5 class="card-title">This is area E</h5>
            <a href="#" class="btn btn-dark">Hello</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionE"
}
</script>

<style scoped>

</style>