<template>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <router-link :to="'/' + isLv + '/test/' + first">Test {{ this.first }}</router-link>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <router-link :to="'/' + isLv + '/test/' + second">Test {{ this.second }}</router-link>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <router-link :to="'/' + isLv + '/test/' + third">Test {{ this.third }}</router-link>
                  </div>
                </div>
                <!--<div class="row" v-if="isLv === 'lv'">
                  <div class="col">
                    <a href="/lv/section/C">This is Laravel + Vue</a>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <router-view :is-lv="isLv"></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isLv: String
  },
  computed: {
    first: function () {
      return this.isLv === 'vue' ? 4 : 7
    },
    second: function () {
      return this.isLv === 'vue' ? 5 : 8
    },
    third: function () {
      return this.isLv === 'vue' ? 6 : 9
    }
  },
  mounted() {
    console.log('Component mounted.')
  },
}
</script>
