<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            This is Vue
          </div>
          <div class="card-body">
            <h5 class="card-title">This is test 4</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionA",
  created() {
    //alert('Section A')
  }
}
</script>

<style scoped>

</style>