<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            This is Vue
          </div>
          <div class="card-body">
            <h5 class="card-title">This is test 6</h5>
            <router-link :to="'/' + isLv + '/test/6/area/D'" class="btn btn-danger">Go to D area</router-link>
            <router-link :to="'/' + isLv + '/test/6/area/E'" class="btn btn-info">Go to E area</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isLv: String
  },
  name: "SectionC"
}
</script>

<style scoped>

</style>